body {
   margin: 0;
}

#dropzone {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover {
  background-color: red !important;
  color: white;
}
